
.WindowModal {
    display: flex;
    flex-direction: column;
    transition: all 0.05s ease;
    position: absolute;
    background-color: white;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &-content {
        position: relative;
        display: flex;
        padding: 0 4px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &-icon {
        width: 1.25em;
        height: 1.25em;
        margin: 0 4px;
        overflow: hidden;
    }

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px;
        font-weight: bold;
        font-size: 14px;
    }

    &-buttons {
        display: flex;
        padding: 2px;
    }

    &-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 4px 0;
        min-height: 24px;
        background-color: white;
        cursor: pointer;

        user-select: none;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

        &-spacer {
            flex-grow: 10;
        }

        &--compact {
            padding: 1px;
            min-height: 16px;

            & .WindowModal-button {
                padding: 0px;
                margin: 0 1px;
                font-size: 8px;
                width: 16px;
                height: 16px;

                &s {
                    padding: 0;
                }
            }

            & .WindowModal-title {
                font-size: 12px;
                margin: 0 2px;
            }
        }
    }

    &-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 2px;
        margin: 0 2px;
        background-color: #FDFDFD;
        cursor: pointer;

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-weight: bold;
        font-size: 12px;

        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        text-align: center;

        &:hover {
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            border-color: rgba(0, 0, 0, 0.25);
            filter: brightness(120%);
        }

        &:focus {
            outline: 0;
        }

        &--minimize {
            font-weight: 1000;
            font-family: Arial;
        }

        &--close {
            background-color: darken(red, 15%);
            color: white;
            font-weight: 300;
            font-family: Arial, sans-serif;
        }
    }
}